body {
    margin: 0;
    background-color: #000;
    color: #fff;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.banner .content .title {
    font-family: 'Hallowed Grounds';
    font-size: 6em;
}

.banner::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('/src/images/menina-le-um-livro-na-antiga-biblioteca-a-noite_107791-4743.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
    
    -webkit-mask-image: url('/src/images/ezgif-2-981d1e8caf.gif');
    mask-image: url('/src/images/ezgif-2-981d1e8caf.gif');
    
    -webkit-mask-size: cover;
    mask-size: cover;
    
    -webkit-mask-position: center;
    mask-position: center;
}


#inicio_button {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
  }

  #inicio_button a {
    text-decoration: none;
    color: var(--color-neutral-9);
  }

  #sociais {
    display: flex; 
    gap: 10px; 
  }

  @keyframes showButtons {
    to {
        opacity: 1; /* Torna os botões visíveis */
        transform: translateY(0); /* Move os botões para sua posição original */
    }
}

  #link_button {
    display: flex; 
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
  }

  #link_button:hover {
    background-color: #e0e0e0;
  }

  /* Ícone dentro do botão */
  #skoob_icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  .fa-github {
    font-size: 20px;
    margin-right: 5px;
  }
