body {
    margin: 0;
    background-color: #000;
    color: #fff;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.banner .content .title {
    font-family: 'Hallowed Grounds';
    font-size: 6em;
}

.banner::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('/src/images/menina-le-um-livro-na-antiga-biblioteca-a-noite_107791-4743.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
    
    -webkit-mask-image: url('/src/images/ezgif-2-981d1e8caf.gif');
    mask-image: url('/src/images/ezgif-2-981d1e8caf.gif');
    
    -webkit-mask-size: cover;
    mask-size: cover;
    
    -webkit-mask-position: center;
    mask-position: center;
}