@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:wght@400;500&display=swap');
@import url('header.css');
@import url('home.css');
@import url('menu.css');
@import url('testimonials.css');
@import url('footer.css');

:root {
    --color-primary-1: #fae9eb;
    --color-primary-2: #f5d6db;
    --color-primary-3: #e28a9a;
    --color-primary-4: #d76c82;/*  cor base no tailwind css color generator */
    --color-primary-5: #be4060;
    --color-primary-6: #9f3150;

    --color-neutral-0: #fcf4f4; 
    --color-neutral-9: #3f1221; 
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to right, var(--color-primary-3), #f5d6db);
}

section {
    padding: 28px 8%;
}


.btn-default {
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-5);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
}

.btn-default:hover {
    text-decoration: none;
    background-color: var(--color-primary-4);
}


.social_media_buttons {
    display: flex;
    gap: 18px;
    padding-top: 10px;
}

.social_media_buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 105px;
    height: 40px;
    background-color: var(--color-neutral-0);
    font-size: 1.15rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-neutral-9);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.social_media_buttons a:hover {
   box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);   
}

.section-title {
    color: var(--color-primary-6);
    font-size: 1.563rem;
}

.section-subtitle {
    font-size: 2.1875rem;
}

#link-estatistica {
    border: none;
    text-decoration: none;
    text-decoration-line: none;
}

